<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="src/assets/images/logo.png" type="image/png">
  </head>

  <body>
<!--    <div class="preloader">-->
<!--      <div class="loader">-->
<!--        <div class="ytp-spinner">-->
<!--          <div class="ytp-spinner-container">-->
<!--            <div class="ytp-spinner-rotator">-->
<!--              <div class="ytp-spinner-left">-->
<!--                <div class="ytp-spinner-circle"></div>-->
<!--              </div>-->
<!--              <div class="ytp-spinner-right">-->
<!--                <div class="ytp-spinner-circle"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <header class="header-area">
      <div class="navbar-area headroom">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                  <img src="assets/images/logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav m-auto">
                    <li class="nav-item active">
                      <a href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="#about">Become a host</a>
                    </li>
                    <li class="nav-item">
                      <a href="#services">Book a space</a>
                    </li>
                    <li class="nav-item">
                      <a href="#portfolio">Help</a>
                    </li>
                    <li class="nav-item">
                      <a href="#blog">Contacts</a>
                    </li>
                    <li class="nav-item">
                      <a href="#contact">Login</a>
                    </li>
                  </ul>
                </div> <!-- navbar collapse -->

                <div class="navbar-btn d-none d-sm-inline-block">
                  <a class="main-btn" data-scroll-nav="0" href="#pricing">Signup</a>
                </div>
              </nav> <!-- navbar -->
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div>
    </header>

    <section id="about" class="about-area pt-115">
      <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <h6 class="welcome">WELCOME</h6>
          <h3 class="title"><span>Shipmonk is a peer to peer platform for the gig economy</span></h3>
        </div>
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="about-image mt-60 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <img src="assets/images/packages.svg" alt="about" width="500" height="300">
        </div> <!-- about image -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="about-content pt-45">
          <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            Shipmonk is a peer to peer platform for the gig economy. Shipmonk is particularly focused on
            resolving fulfillment challenges for small scale merchants while providing needed revenue to
            partners with the capacity to partner with merchants.</p>
        </div> <!-- about content -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
    </section>

  <section class="spaces-area">
    <div>
      <h3>Featured Spaces</h3>
    </div>
    <div class="flex-spaces">
      <div class="blog-author d-flex align-items-center">
        <div class="author-image">
          <img src="assets/images/author-1.jpg" alt="author">
        </div>
        <div class="author-content media-body">
          <h6 class="sub-title">Posted by</h6>
          <p class="text">Isabela Moreira</p>
        </div>
      </div>
      <div class="blog-author d-flex align-items-center">
        <div class="author-image">
          <img src="assets/images/author-1.jpg" alt="author">
        </div>
        <div class="author-content media-body">
          <h6 class="sub-title">Posted by</h6>
          <p class="text">Isabela Moreira</p>
        </div>
      </div>
      <div class="blog-author d-flex align-items-center">
        <div class="author-image">
          <img src="assets/images/author-1.jpg" alt="author">
        </div>
        <div class="author-content media-body">
          <h6 class="sub-title">Posted by</h6>
          <p class="text">Isabela Moreira</p>
        </div>
      </div>
      <div class="blog-author d-flex align-items-center">
        <div class="author-image">
          <img src="assets/images/author-1.jpg" alt="author">
        </div>
        <div class="author-content media-body">
          <h6 class="sub-title">Posted by</h6>
          <p class="text">Isabela Moreira</p>
        </div>
      </div>
    </div>
  </section>

    <footer id="footer" class="footer-area bg_cover">
    <div class="container">
      <div class="footer-widget pt-30 pb-70">
        <div class="row">
          <div class="col-lg-3 col-sm-6 order-sm-3 order-lg-2">
            <div class="footer-link pt-40">
              <div class="footer-title">
                <h5 class="title">Services</h5>
              </div>
              <ul>
                <li><a href="#">Become a host</a></li>
                <li><a href="#">Book a space</a></li>
              </ul>
            </div> <!-- footer link -->
          </div>
          <div class="col-lg-3 col-sm-6 order-sm-4 order-lg-3">
            <div class="footer-link pt-40">
              <div class="footer-title">
                <h5 class="title">About Us</h5>
              </div>
              <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Why us</a></li>
              </ul>
            </div> <!-- footer link -->
          </div>
          <div class="col-lg-3 col-sm-6 order-sm-2 order-lg-4">
            <div class="footer-contact pt-40">
              <div class="footer-title">
                <h5 class="title">Contact Info</h5>
              </div>
              <div class="contact pt-10">
                <p class="text">Moi Avenue, Nairobi <br>
                  Kenya.</p>
                <p class="text">support@shipmonk.com</p>
                <p class="text">+254 7xxxxxxxx</p>
                <ul class="social mt-40">
                  <li><a href="#"><i class="lni-facebook"></i></a></li>
                  <li><a href="#"><i class="lni-twitter"></i></a></li>
                  <li><a href="#"><i class="lni-instagram"></i></a></li>
                  <li><a href="#"><i class="lni-linkedin"></i></a></li>
                </ul>
              </div> <!-- contact -->
            </div> <!-- footer contact -->
          </div>
        </div> <!-- row -->
      </div> <!-- footer widget -->
      <div class="footer-copyright text-left">
        <p class="text">© 2021 <a href="https://uideck.com" rel="nofollow">Shipmonk Inc.</a> All Rights Reserved.</p>
      </div>
    </div> <!-- container -->
  </footer>

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
  </body>
</html>
